footer {
  background-color: rgb(106, 31, 131);
  color: rgb(95, 169, 212);
  /* top/bottom, left/right */
  /* top right bottom left */
  padding: 70px 50px;
  margin-top: 60px;
}

footer p {
  font-size: 30px;
  font-weight: 700;
}
