header {
  background-color: rgb(106, 31, 131);
  color: rgb(83, 147, 185);
  /* top/bottom, left/right */
  /* top right bottom left */
  padding: 10px 50px;
  font-size: 20px;
}

header p {
  padding: 30px;
  color: rgb(95, 169, 212);
  font-size: 25px;
  font-weight: 700;
}
