/*DEFAULT styles for page*/

/*Google Font*/

@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");

body {
  background-color: rgb(0, 76, 14);
  color: white;
  text-align: center;
  font-family: "Metal Mania", system-ui;
  /* removes default spacing */
  padding: 0;
  margin: 0;
}

h1,
h3 {
  font-family: "Rubik Wet Paint", system-ui;
  font-size: 150px;
  margin: 0;
  padding: 10px;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.451);
}
